body{
  padding: 0;
  margin: 0;
}

header{
  text-align: center;
  border-bottom: solid 1px black;
  font-size: 3rem;
}


#content-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between

}

.heading{
  text-align: center;
}

.media{
  width: 40vw
}
/*=====================FOOTER=====================*/
footer{
  display: flex;
  justify-content: center;
  border-top: solid 1px black;
}
#footerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerPara{
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}